# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.aseprite

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log files
*.log

# GoCode debug file
debug

# Linux binary
MovieNight

# Windows binary
MovieNight.exe

# Darwin binary
MovieNightDarwin

# Go wasm script
static/js/wasm_exec.js

# Twitch channel info
static/subscriber.json

# This file now holds the stream key.  Don't include it.
settings.json

# vscode
.vscode

# Autobuilt wasm files
static/main.wasm

# tags for vim
tags

# channel and emote list from twitch
subscribers.json
