<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/hack/hack.css">
    <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    <script type="application/javascript" src="/static/js/jquery.js"></script>
    <script type="application/javascript" src="/static/js/both.js"></script>
    {{template "header" .}}
</head>

<body class="scrollbar">
    <img id="remote" src="/static/img/remote.png" onclick="flipRemote();" />
    <div id="devKeys"></div>
    <div class="root">
        {{template "body" .}}
    </div>
</body>

</html>