<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css">
    <script type="application/javascript" src="/static/js/jquery.js"></script>
    <script type="application/javascript" src="/static/js/flv.min.js"></script>
    <script type="application/javascript" src="/static/js/wasm_exec.js"></script>
    <script type="application/javascript" src="/static/js/client.js"></script>

    {{ if .Chat }}
    <script>
        window.onload = chatOnload;
    </script>
    <!-- If it is only the chat window, the the chat needs to be fullscreen -->
    {{ if not .Video }}
    <style>
        #chat,
        #joinbox {
            grid-column: 1 / 3;
        }
    </style>
    {{ end }}
    {{ end }}

    {{ if .Video }}
    {{ if not .Chat }}
    <style>
        #video {
            width: 100%;
            height: 100%;
            grid-column: 1 / 3;
        }
    </style>
    {{ end }}
    {{ end }}
</head>

<body class="scrollbar">
    {{ if .Video }}
    <div id="video">
        <video id="videoElement" controls autoplay x5-video-player-type="h5" x5-video-player-fullscreen="true"
            playsinline webkit-playsinline>
            Your browser is too old and doesn't support HTML5 video.
            <script>initPlayer();</script>
        </video>
        <div id="infoBox">
            <div id="info">
                <span id="playing"></span>
                <a href="" target="_blank" id="playinglink"></a>
            </div>
            <button id="reload" class="button" onclick="initPlayer();">Reload Player</button>
        </div>
    </div>
    {{ end }}

    {{ if .Chat }}
    <div id="chat" style="display: none;">
        <div id="messages" class="scrollbar"></div>
        <textarea id="msg"></textarea>
        <button id="send" class="button" onclick="sendChat();">Send</button>
    </div>
    <div id="joinbox">
        <p style="color:#e5e0e5">Please enter your name to Join the chat</P>
        <input id="name" maxlength="36">
        <button id="join" onclick="join();">Join</button>
    </div>
    {{ end }}

</body>

</html>