html {
    background: #0F0F11;
}

.button {
    background: #232328;
    color: #c0c0c0;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.button:hover {
    background: #46464f;
}

body {
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 100vh;
    margin: 0px;
}

#video {
    display: grid;
    grid-template-rows: auto 1fr;
}

#infoBox {
    display: grid;
    grid-template-columns: 1fr 200px;
    padding-left: 10px;
    vertical-align: center;
    height: 3.5em;
}

#info {
    display: grid;
    grid-template-rows: auto auto;
    color: #8b6a96;
    font-weight: bold;
}

#playing {
    font-size: x-Large;
}

#videoElement {
    background: #000000;
    width: 100%;
    height: calc(100vh - 9em);
}

#joinbox {
    margin: 10px;
}

#chat {
    display: grid;
    grid-template-rows: 1fr 6em 2em;
    margin: 5px;
}

#messages {
    min-height: 15em;
    height: calc(100vh - 9em);
    color: #f4f4f4;
    opacity: 0%;
    overflow-y: scroll;
    border: 1px solid #606060;
}

#messages div {
    padding: .1em .5em .15em .5em;
}

.scrollbar {
    /* Firefox compatable scrollbar settings */
    scrollbar-color: #45009e transparent;
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #45009e;
}

#msg {
    background: transparent;
    border: 1px solid #606060;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px;
    color: #f4f4f4;
    resize: none;
}

#error {
    color: #f00;
    padding: 5px;
    font-weight: bold;
}

span.name {
    font-weight: bold;
}

span.cmdme {
    font-style: italic;
}

span.msg {
    font-style: normal;
    color: #cfccd1;
}

span.svmsg {
    font-style: italic;
    color: #ea6260;
}

.announcement {
    font-weight: bold;
    color: #ea6260;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}

.helptext {
    color: white;
}

dt {
    font-weight: bold;
}